<div class="button-container">
    <a href="create" class="crud-button create">Create</a>
    <a href="update" class="crud-button update">Update</a>
    <a href="delete" class="crud-button delete">Delete</a>
</div>