<div class="containe">
    <div class="row">
        <div class="col text-center">
            <img src="img/profil.jpg" alt="profil" class="img-tumbnail rounded-circle" width="200">
            <h1 class="display-4">Andryan Zulfi</h1>
            <p class="lead">Front End | Designer</p>
        </div>
    </div>
</div>